body{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 90vh;
}

.desafioParteUno{

    width: 40rem;

}

.enlaces{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    transition: 0.2s;

}

.enlaces:hover{
    transform: scale(1.2);
    color: red;
}

.desafioParteDos img{

    width: 20rem;
    height: 20rem;
    object-fit: cover;

}

.desafioParteDos{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    
}

.contenedorCards{

    display: flex;
    gap: 1rem;
}

.card{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.botonVerificar{

    width: 6rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.1s;
}

.botonVerificar:hover{
    transform: scale(1.2);
}

input{
    width: 11rem;
}

.desafioParteTres{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.desafioParteTres button{

    border-radius: 1rem;
    cursor: pointer;
    width: 6rem;
    transition: 0.1s;
}

.desafioParteTres button:hover{
    transform: scale(1.2);
}